@use "/src/style/utils/variables" as *;
@use "/src/style/utils/mixins" as *;
@use "/src/style/utils/media_breakpoint" as *;

@include desktop() {
  .vision_container {
    margin-top: 217px;
  }
  .vision_wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  // .content_wrapper {
  //   display: flex;
  //   align-items: center;
  // }
  .text_wrapper {
    width: 789px;
  }
  .title {
    width: 789px;
    margin: 0px;
    @include text-huge();
    color: $color-text-black;
    margin-bottom: 26px;
  }
  .subTitle {
    width: 70%;
    margin: 0px;
    @include text-big();
    font-size: 21px;
    color: $color-text-black;
    margin-bottom: 36px;
  }
  .img_wrapper {
    position: relative;
    width: 750px;
    height: 818px;
    overflow: hidden;
  }
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .message_wrapper {
    display: flex;
    flex-direction: column;
    top: 447px;
    left: 280px;
    position: absolute;
  }
  .message {
    width: 187px;
    // height: 90px;
    background: $line-gradient;
    border-radius: $corner-radius-small-medium;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    padding-bottom: 13px;
    box-sizing: border-box;
  }

  .message {
    width: 187px;
    height: 71px;
    position: relative;
    background: $line-gradient;
    border-radius: $corner-radius-small-medium;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 17px 13px;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      top: -27%;
      left: 70%;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      background: linear-gradient(to top, #579aff, #574dcc);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
  }

  .img_text {
    margin: 0;

    @include text-mobile-medium();
    color: $color-white;
    text-align: center;
    max-width: 100%;
    word-break: break-word;
  }

  .button {
    @include button(360px, 70px);
  }
  // .polygon {
  //   width: 20px;
  //   height: 26px;
  //   margin-left: 60%;
  //   background: linear-gradient(to top, #579aff, #574dcc);
  //   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  // }
  .gradient_rectangle {
    position: absolute;
    top: 5345px;
    left: 1285px;
    border-radius: 253px;
    width: 502px;
    height: 501px;
    filter: blur(100px);
    background: linear-gradient(180deg, #3494e6 0%, #ec6ead 100%);
    z-index: -999;
  }
}
