@use "/src/style/utils/variables" as *;
@use "/src/style/utils/mixins" as *;
@use "/src/style/utils/media_breakpoint" as *;

@include desktop() {
  .vision_container {
    margin-top: 217px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .vision_wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    gap: 60px;
  }
  .text_wrapper {
    padding-left: 50px;
    max-width: 789px;
  }
  .title {
    width: 100%;
    margin: 0px;
    @include text-huge();
    color: $color-text-black;
    margin-bottom: 26px;
  }
  .subTitle {
    width: 70%;
    margin: 0px;
    @include text-big();
    font-size: 21px;
    color: $color-text-black;
    margin-bottom: 36px;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .message_wrapper {
    display: flex;
    flex-direction: column;
    top: 58%;
    left: 37.5%;
    position: absolute;
  }

  .img_wrapper {
    position: relative;
    max-width: 750px;
    height: 818px;
    width: 100%;
    overflow: hidden;

    .message {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -100%);
      width: 187px;
      height: auto;
      background: $line-gradient;
      border-radius: $corner-radius-small-medium;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 17px 17px 13px;
      box-sizing: border-box;

      &::after {
        content: "";
        position: absolute;
        top: -19.8px;
        left: 68%;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        background: linear-gradient(to top, #579aff, #574dcc);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      }

      .img_text {
        margin: 0;
        @include text-mobile-medium();
        color: $color-white;
        text-align: center;
        word-break: break-word;
      }
    }
  }

  .button {
    @include button(360px, 70px);
  }
  // .polygon {
  //   width: 20px;
  //   height: 26px;
  //   margin-left: 60%;
  //   background: linear-gradient(to top, #579aff, #574dcc);
  //   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  // }
  .gradient_rectangle {
    position: absolute;
    top: 5345px;
    left: 66%;
    border-radius: 253px;
    width: 502px;
    height: 501px;
    filter: blur(100px);
    background: linear-gradient(180deg, #3494e6 0%, #ec6ead 100%);
    z-index: -999;
  }
}
