//variables.scss
$color-background: #F6F7FA;
$color-white: #FFFFFF;
$line-gradient: linear-gradient(to left, #579AFF, #574DCC);
$color-text-black:#303030;
$color-blue: #1A73E8;
$color-grey: #8789a1;
$color-second_gray: #595B75;
$color-white-grey: #F5F7F9;
$color-light-blue: #5893FA;
$color-black: #000000;
$corner-radius-small: 10px;
$corner-radius-small-medium: 20px;
$corner-radius-medium: 30px;
$corner-radius-medium_big: 40px;
$corner-radius-big: 60px;

//breakpoint
$breakpoint_desktop: 1280px; //min
$breakpoint_mobile: 320px; //max
