//variables.scss
$color-background: #f6f7fa;
$color-white: #ffffff;
$line-gradient: linear-gradient(to left, #579aff, #574dcc);
$color-text-black: #303030;
$color-blue: #1a73e8;
$color-grey: #8789a1;
$color-second_gray: #595b75;
$color-white-grey: #f5f7f9;
$color-light-blue: #5893fa;
$color-black: #000000;
$corner-radius-small: 10px;
$corner-radius-small-medium: 20px;
$corner-radius-medium: 30px;
$corner-radius-medium_big: 40px;
$corner-radius-big: 60px;

//breakpoint
$breakpoint_desktop: 1279px; //min
$breakpoint_mobile: 320px; //max
