@use "/src/style/utils/variables" as *;
@use "/src/style/utils/mixins" as *;
@use "/src/style/utils/media_breakpoint" as *;

@include mobile() {
  .start_container {
    margin-top: 93px;
    width: 100%;
    height: 100%;
  }
  .start_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
  }

  .text_wrapper {
    text-align: center;
    width: 100%;
  }
  .img_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .title {
    @include text-bold();
    margin-bottom: 20px;
  }
  .subTitle {
    @include text-mobile-medium();
  }

  .img {
    width: 401px;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: -5px;
  }
  .button {
    @include button(80%, 60px, 280px) {
      @include text-mobile-bold();
      color: $color-white;
      position: absolute;
      top: 95.5%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .message_wrapper {
    display: flex;
    flex-direction: column;
    top: 60%;
    left: 72%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .message {
    width: 92px;
    height: 35px;
    @include text-small();
    color: $color-white;
    font-size: 8px;
    background: $line-gradient;
    border-radius: $corner-radius-small-medium;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    padding-bottom: 6px;
    box-sizing: border-box;
    word-break: break-word;
  }
  .polygon {
    width: 10px;
    height: 13px;
    margin-left: 60%;
    background: linear-gradient(to top, #579aff, #574dcc);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  .gradient_rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // border-radius: 253px;
    width: 100%;
    height: 80%;
    filter: blur(100px);
    background: linear-gradient(180deg, #3494e6 0%, #ec6ead 100%);
    overflow: hidden;
    z-index: -999;
  }
}
